* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
}
.wrapper {
  display: flex;
  position: absolute;
  left: 38%;
  top: 25vh !important;
  flex-direction: column;
  width: 25vw;
  border: 1px solid grey;
  padding: 20px 35px;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 1px 1px 3px grey;
}

.form {
  display: flex;
  flex-direction: column;
}
.input-items {
  margin-bottom: 10px;
  font-size: 15px !important;
  height: 35px;
}
